body{
    font-family: "Comic Sans MS", sans-serif; 
}

#site-header {
    font-size: 24px;
    background-color: RGB(255,235,75);
    display: block;
    /*position: fixed;*/
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

#main-header {
    background-color: #B6D7A8;
    text-align: center;
    border-radius: 25px;
}

#ad-space{
    background-color: #D5A6BD;
}

#blank-space{
    border: solid;
    background-color: white;
}
section {
    background-color: #9ABBC0;
    padding: 10px;
    border: solid;
    margin: 10px;
}

.post-heading {
    text-align: center;
    padding-top: 10px;
}

.post-title, .timestamp {
    margin: 0;
}

footer {
    background-color: #9EC4F6;
    padding: 10px;
    border-radius: 15px;
}